node_modules
**/node_modules

**/dist
**/.next
**/.turbo
**/build
**/*.tsbuildinfo

.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

.vscode
.idea
**/*.swp
**/*.swo

**/*.log
**/npm-debug.log*

**/.DS_Store
**/Thumbs.db

**/*.md
!README.md

.eslintrc*
.prettierrc*
*.config.ts
!next.config.ts

**/Dockerfile*
**/docker-compose*.yml
.dockerignore

**/migrations
